/* UTILITIES */

/* GENERIC */

body {

    background-image: url(../img/bg.jpg);
    background-size: cover;
    height: 100vh;
}

.content-box {
    height: 600px;
    width: 1000px;
    border-radius: 20px;
    background-color: white;
}

.alert {
    height: 100px;
    width: 100%;
    border: 2px solid blue;
    border-radius: 20px;
}

.alert.error {
    border: 2px solid rgb(145, 5, 5);
    color: rgb(255, 187, 0);
}